{
  "presets": [[
    "@babel/preset-env",
    {
      "targets": { "node": "current" }
    }
  ]],
  "plugins": [
    [
    "babel-plugin-module-resolver",
    {
      "root": ["./src"],
      "alias": {
        "<server>": "./src",
        "<components>": "./src/components",
        "<views>": "./src/views",
        "<images>": "./src/images"
      }
    }
  ]]
}