@keyframes greenshuttle {
  0% { bottom: 2em; }
  30% { left: 18em }
  60% { left: 20em }
  100% { bottom: 4em; }
}

@keyframes whiteshuttle {
  0% { top: 12em; }
  30% { right: 7em }
  60% { right: 3em }
  100% { top: 19em; }
}

@keyframes greenshuttle2 {
  0% { top: 28em; }
  30% { left: 2em }
  60% { left: 4em }
  100% { top: 24em; }
}
