$font: 'Lato', sans-serif;
$background: #1C1C1C;
$primary-green: #6FCF97;
$text-color: #F2F2F2;

.tools-page {
  display: flex;
  justify-content: center;

  .shuttle {
    position: absolute;
    opacity: 0.9;
  }

  .greenshuttle {
    animation: greenshuttle 2s alternate infinite;
    position: absolute;
    bottom: 2em;
    left: 19em;
  }
  
  .whiteshuttle {
    animation: whiteshuttle 3s alternate infinite;
    right: 5em;
    top: 12em;
  }

  .tools-cont {
    display: inherit;
    justify-content: center;
    width: 70%; 

    .tool-focus {
      width: 33.33%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      text-align: center;
      position: relative;
      top: 8em;

      .tool-image {
        margin-bottom: 3em;
      }

      .tool {
        display: inherit;
        align-items: center;
        flex-direction: inherit;
        text-transform: capitalize;
        font-family: $font;

        .tool-name {
          color: $primary-green;
          margin-bottom: .5em;
          font-size: .8em;
          letter-spacing: 0.2em;
        }

        .tool-tools {
          font-size: .7em;
          color: $text-color;
          margin-bottom: 1.8em;
          width: 17em;
          font-weight: 300;
          letter-spacing: 0.2em;
        }
      }
    }
  }
}

@media (max-width: 1024px) {

  .tools-page {

    .greenshuttle {
      animation: greenshuttle2 2s alternate infinite;
      bottom: initial;
      top: 28em;
      left: 3em;
    }

    .tools-cont {
      display: block;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 80%;

      .tool-focus {
        width: 100%;
        top: 2em;

        .tool-image {
          margin-bottom: 1em;
        }

        .tool {
          .tool-name {
            font-size: 1.2em;
          }
  
          .tool-tools {
            font-size: 1em;
          }
        }
      }
    }
  }
} 
