.logo-rim {
  animation: rotation 10s linear infinite;
}

.logo-text {
  /* animation: rotation 10s linear infinite; */
}

.focus--flicker {
  animation: focus-flicker 1s alternate infinite;
}

.focus--flicker2 {
  animation-delay: 0.2s;
}

.focus--flicker3 {
  animation-delay: 0.4s;
}

@keyframes focus-flicker {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0);
      transform: rotate(0);
  }
  to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes reverse-rotation {
  from {
      -webkit-transform: rotate(359);
      transform: rotate(359);
  }
  to {
      -webkit-transform: rotate(0);
      transform: rotate(0);
  }
}