$font: 'Roboto', sans-serif;
$background: #1C1C1C;
$primary-green: #6FCF97;
$text-color: #F2F2F2;

.resume-page {

  .about-me {
    width: 100%;
    display: flex;
    align-items: center;

    .aboutme-text {
      margin-left: 17em;
      max-height: 63%;
    }

    .spaceship {
      position: absolute;
      right: 8em;
      animation: spaceship 2s alternate infinite;
    }
  }
}
