$background: #1C1C1C;
$primary-green: #6FCF97;

.navigator {

  .nav-cont {
    display: flex;
    flex-direction: column;
    align-items: center;

    .vl {
      border-left: 1px solid green;
      height: 21.5px;
      transition-property: border-left;
      transition-duration: .5s;      

      &--inactive {
        border-left: 1px solid #4F4F4F;
      }
    }

    .nav-halo {
      height: 45px;
      width: 45px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      color: $background;
      border-color: transparent;
      outline: none !important;
      transition-property: border;
      transition-duration: .5s;
  
      &--active {
        border: 1px solid $primary-green;
      }

      &--inactive {
        &:hover {
          border-color: rgba(111, 207, 151, 0.4);
  
          .nav-item {
            background-color: rgba(111, 207, 151, 0.4);
  
            .text {
              color: $primary-green;
            }
          }
        }
      }
  
      .nav-item {
        background-color: #4F4F4F;
        font-size: 14px;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        position: relative;
        font-family: 'Roboto', sans-serif;
        transition-property: background-color;
        transition-duration: .5s;
  
        &--active {
          background-color: $primary-green;
        }

        .text {
          color: #E0E0E0;
          position: absolute;
          font-weight: 100;
          left: 3em;
          width: 5em;
          transition-property: color;
          transition-duration: .5s;

          &--active {
            color: $primary-green;
            font-weight: 300;
          }
        }
      }
    }
  }
}
