@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

$dark-green: #242E28;
$background: #1C1C1C;
$primary-green: #6FCF97;
$font: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font;
  cursor: url('./images/mouse.png'), auto!important;
}

body, html {
  background: $background;
  height: 100%;
  position: relative;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    width: 0 !important;
    background-color: transparent !important;
    // display: none!important;
  }
}

.container {
  background-color: $background;
  background-image: url('./images/back-stars.svg');
  background-size: contain;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  // scroll-snap-points-y: repeat(100vh);
  // scroll-snap-destination: 0 0;
  scroll-snap-type: y mandatory;
  // scroll-snap-type: mandatory;

  .left-sidebar {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin-left: 3em;
    padding: 2em 0;
    position: fixed;
    z-index: 2;

    .logo {
      height: 14%;
      width: auto;
    }
  }
}
