$primary-green: #6FCF97;

.down-arrows {
  bottom: 5%;
}

.up-arrows {
  top: 5%;
  transform: rotate(180deg);
}

.down-arrows, .up-arrows {
  display: flex;
  flex-direction: column;
  color: $primary-green;
  font-weight: bold;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 5;

  .scroll-arrow {
    position: relative;
  }

  p {
    margin: 0 0 0.5em;
  }

  &:hover {
    cursor: pointer;
    // cursor: url('../../images/round-mouse-target.png'), auto;
  }

  .support {
    opacity: 0.3;
  }
  
  .support2 {
    opacity: 0.1;
  }
  
  .main {
    opacity: 0.5;
  }
}
