$primary-green: #6FCF97;

.down-arrows {
  bottom: 2.5em;
}

.up-arrows {
  top: 2.5em;
  transform: rotate(180deg);
}

.down-arrows, .up-arrows {
  color: $primary-green;
  font-weight: bold;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 1;

  .scroll-arrow {
    animation: bounce-fade 1s alternate infinite;
    position: relative;
    width: 3em;
    height: auto;
  }

  p {
    margin: 0 0 0.5em;
  }

  &:hover {
    cursor: pointer;
  }

  .support {
    opacity: 0.3;
  }
  
  .support2 {
    opacity: 0.1;
  }
  
  .main {
    opacity: 0.5;
  }
}

@media (max-width: 1024px) {
  .down-arrows {
    right: 1em;
    bottom: initial;
  }
  
  .up-arrows {
    left: 1em;
    top: initial;
  }
  
  .down-arrows, .up-arrows {
    height: 100%;
    width: auto;
    display: flex;
    
    .scroll-arrow {
      transform: rotate(-90deg);
      animation: bounce-fade-right 1s alternate infinite;
    }
  }
} 
