.container  {
  animation: animate-stars 3s linear infinite;
}

.container .wave {
  animation: animate 10s linear infinite;
  background: url('../../images/Ellipse.png');
  background-repeat: repeat-x;
  height: 352px;
  left: 0;
  position: absolute;
  top: -3em;
  width: 100vw;
}

.container .wave:before {
  animation: animate-reverse 10s linear infinite;
  animation-delay: -6s;
  content: '';
  width: 100%;
  height:  352px;
  background: url('../../images/Ellipse.png');
  position: absolute;
  top: -6em;
  left: 0;
  opacity: 0.4;
}

.container .wave:after {
  animation: animate 20s linear infinite;
  animation-delay: -3s;
  content: '';
  width: 100%;
  height:  352px;
  background: url('../../images/Ellipse.png');
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.hologram {
  /* animation: rotation 12s linear infinite; */
}

.flicker {
  animation: flicker 1s alternate infinite;
}

.flicker2 {
  animation: flicker-reverse 1s alternate infinite;
}

.flicker3 {
  animation: flicker 0.5s alternate infinite;
}

.flicker4 {
  animation: flicker-reverse 0.5s alternate infinite;
}

@keyframes animate-stars {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 100vh;
  }
}

@keyframes animate {
  from {
    background-position: 0;
  }
  to {
    background-position: 1440px;
  }
}

@keyframes animate-reverse {
  from {
    background-position: 1440px;
  }
  to {
    background-position: 0;
  }
}

@keyframes flicker {
  from {
    opacity: initial;
  }
  to {
    opacity: 0.3;
  }
}

@keyframes flicker-reverse {
  from {
    opacity: 0.6;
  }
  to {
    opacity: initial;
  }
}

@keyframes mainshuttle {
  0% { bottom: 4em }
  30% { right: 5em }
  60% { right: 3em }
  100% { bottom: 7em; }
}

