$dark-green: #242E28;
$background: #1C1C1C;
$primary-green: #6FCF97;
$font: 'Lato', sans-serif;

.page-content {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
  flex:1;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-behavior: 2s;


  .partition {
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: center;
    position: relative;

    .excerpt {
      width: 44em;
      height: auto;
      position: relative;
      margin-left: 17em;
      margin-top: -12em;
    }

    .mainshuttle {
      animation: mainshuttle 4s alternate infinite;
      right: 4em;
      bottom: 4em;
      width: 21em;
      position: absolute;
      opacity: 0.9;
    }

    .poddle {
      animation: flicker 4s alternate infinite;
      position: absolute;
      width: 12%;
      right: 14%;
      bottom: 1%;
    }
  }

}

@media (max-width: 1330px) {
  .page-content {
    min-width: 100vw;

    .partition {
      justify-content: center;

      .excerpt {
        margin: 0;
      }

      .mainshuttle {
        display: none;
      }
    }
  }
} 

@media (max-width: 1024px) {
  .page-content {

    .partition {

      .excerpt {
        width: 80%;
      }
    }
  }
} 

