.social-icons {
  bottom: 0;
  flex-direction: column;
  justify-content: space-between;
  min-height: 4em;
  
  .icon {
    display: block;
    margin: 0.4em 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
